# Terraform workspace files
*.tfstate
*.tfstate.*

# Backup files
*.tfstate.backup

# Crash logs
crash.log

# Directory for Terraform plugin binaries
.terraform/

# Terraform environment variables
*.tfvars
*.tfvars.json

# Local Terraform binary
terraform

# IDE and editor-specific files
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# macOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db
ehthumbs.db
